contentflow-n8n-workflow.json
{
  "name": "ContentFlow - Generate Article",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contentflow-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -600,
        300
      ],
      "id": "cf-webhook",
      "name": "ContentFlow Webhook"
    },
    {
      "parameters": {
        "jsCode": "const src = ($json.body !== undefined && $json.body !== null) ? $json.body : $json;\nconst d = typeof src === 'string' ? JSON.parse(src) : src;\nreturn [{\n  json: {\n    keyword: d.keyword || '',\n    job_id: d.job_id || '',\n    user_id: d.user_id || '',\n    company_name: d.company_name || '',\n    services: d.services || '',\n    tone_nl: d.tone_nl || '',\n    locale: d.locale || '',\n    userToken: d.userToken || '',\n    xml_template: d.xml_template || '',\n    xml_template_name: d.xml_template_name || '',\n    content_goal: d.content_goal || 'convince'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        300
      ],
      "id": "cf-parse",
      "name": "Parse Payload"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nlet xml = d.xml_template || '';\nconst goal = d.content_goal || 'convince';\n\nxml = xml.replace(/<instructions>[\\s\\S]*?<\\/instructions>/g, '');\nxml = xml.replace(/<validation-checklist>[\\s\\S]*?<\\/validation-checklist>/g, '');\nxml = xml.replace(/```[\\s\\S]*?```/g, m => m.replace(/^```\\n?/, '').replace(/\\n?```$/, ''));\nxml = xml.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nconst goalInstructions = {\n  inform: 'Dit is een INFORMATIEVE pagina. Leg helder uit wat het onderwerp is, hoe het werkt en waarom het relevant is. Schrijf voor iemand die zich nog oriënteert. Geen verkooppraatje. Gebruik concrete feiten, voorbeelden en uitleg. Structuur: inleiding, uitleg, veelgestelde vragen.',\n  convince: 'Dit is een OVERTUIGENDE dienstenpagina. De lezer vergelijkt aanbieders en overweegt een keuze. Laat zien waarom klanten kiezen voor ' + (d.company_name || 'dit bedrijf') + '. Focus op aantoonbare voordelen, expertise, kwaliteitsbewijzen en concrete resultaten voor de klant. Geen generieke claims — onderbouw elk voordeel.',\n  convert: 'Dit is een CONVERSIEPAGINA. De lezer is klaar om te beslissen. Gebruik social proof, specifieke resultaten, garanties en een duidelijke call-to-action. Verwijder twijfels. Maak de volgende stap (aanvragen, contact opnemen) zo laagdrempelig mogelijk. Elk onderdeel moet bijdragen aan de beslissing om te kiezen.'\n};\n\nconst variantInstructions = [\n  'Variant 1: schrijf gebalanceerd en allround.',\n  'Variant 2: maak de toon iets directer en overtuigender.',\n  'Variant 3: maak de toon inhoudelijker en expertmatiger.',\n  'Variant 4: maak de tekst praktischer en concreter met heldere stappen.',\n  'Variant 5: maak de tekst commerciëler met sterke voordelen en resultaten.',\n  'Variant 6: maak de tekst rustiger, toegankelijker en duidelijker.',\n  'Variant 7: gebruik een meer onderscheidende invalshoek met scherpere positionering.',\n  'Variant 8: maak de tekst compacter en scanbaarder voor drukke beslissers.',\n  'Variant 9: maak de tekst meer case-gedreven en bewijsgericht.'\n];\n\nconst goalInstruction = goalInstructions[goal] || goalInstructions.convince;\n\nlet userContent = \"Schrijf 9 verschillende SEO-varianten over het zoekwoord: '\" + d.keyword + \"'.\\n\\n\"\n  + \"Bedrijfsnaam: \" + d.company_name + \"\\n\"\n  + \"Services: \" + d.services + \"\\n\"\n  + \"Toon: \" + d.tone_nl + \"\\n\\n\"\n  + \"PAGINADOEL:\\n\" + goalInstruction + \"\\n\\n\"\n  + \"MAAK EXACT 9 DUIDELIJK ONDERSCHEIDENDE VARIANTEN. Elke variant moet een eigen titel, meta description en volledige HTML-content hebben. Gebruik dezelfde feitelijke basis, maar varieer in invalshoek, ritme, formulering en nadruk.\\n\\n\"\n  + \"VARIANT-RICHTINGEN:\\n\" + variantInstructions.join('\\n');\n\nif (xml) {\n  userContent += '\\n\\n---\\nGEBRUIK HET VOLGENDE XML-SJABLOON ALS STRIKTE STRUCTUUR voor de HTML output.\\n\\nBELANGRIJKE REGELS:\\n1. Vervang alle placeholders zoals [dienstnaam] en [koopmotief] met echte content op basis van het zoekwoord en bedrijfsinfo.\\n2. De <instruction> tags zijn schrijfinstructies voor jou — volg ze op maar neem ze NIET op in je output.\\n3. Neem de XML-tags NIET letterlijk over in je HTML output. Gebruik ze alleen als structuurgids.\\n4. Schrijf uitsluitend echte, geschreven content — geen template-tekst, geen regels, geen instructies.\\n5. De content in je JSON moet puur HTML zijn: h1, h2, h3, p, ul, li — geen XML, geen template tags.\\n\\nSJABLOON:\\n' + xml + '\\n---';\n} else {\n  userContent += '\\n\\nGebruik H2 en H3 koppen, een sterke intro en concrete informatie.';\n}\n\nuserContent += '\\n\\nGeef terug als JSON met exact dit formaat:\\n{\\n  \"variants\": [\\n    { \"title\": string, \"meta_description\": string, \"content\": string },\\n    ... totaal 9 objecten ...\\n  ]\\n}\\n\\nRetourneer geen extra tekst buiten het JSON-object.';\n\nconst body = {\n  model: 'gpt-4o-mini',\n  messages: [\n    {\n      role: 'system',\n      content: 'Je bent een Nederlandse SEO content expert gespecialiseerd in B2B dienstverlening. Schrijf uitgebreide, goed gestructureerde paginas in het Nederlands. Retourneer altijd geldig JSON. Lever exact 9 inhoudelijk verschillende varianten aan en neem nooit instructietekst, XML-template-regels of validatiechecklist op in je output.'\n    },\n    {\n      role: 'user',\n      content: userContent\n    }\n  ],\n  response_format: { type: 'json_object' }\n};\n\nreturn [{ json: { ...d, openai_body: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        300
      ],
      "id": "cf-build-prompt",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer JOUW_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openai_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        60,
        300
      ],
      "id": "cf-ai",
      "name": "Generate Article (OpenAI)"
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nlet article;\ntry {\n  article = JSON.parse(resp.choices[0].message.content);\n} catch(e) {\n  article = { variants: [{ title: 'Artikel', content: resp.choices[0].message.content, meta_description: '' }] };\n}\n\nconst rawVariants = Array.isArray(article.variants) ? article.variants : [];\nconst variants = rawVariants.slice(0, 9).map((variant, idx) => {\n  const content = variant.content || '';\n  const wordCount = content ? content.replace(/<[^>]*>/g, ' ').trim().split(/\\s+/).filter(Boolean).length : 0;\n  return {\n    id: variant.id || ('variant-' + (idx + 1)),\n    title: variant.title || ('Variant ' + (idx + 1)),\n    meta_description: variant.meta_description || '',\n    content: content,\n    word_count: wordCount,\n    seo_score: variant.seo_score || 84\n  };\n});\n\nlet jobId = '', keyword = '', userId = '';\nconst tryNodes = ['Build Prompt','Build Prompt1','Parse Payload','Parse Payload1','ContentFlow Webhook','ContentFlow Webhook1'];\nfor (const n of tryNodes) {\n  try {\n    const d = $(n).first().json;\n    if (!jobId) jobId = d.job_id || d.query?.job_id || '';\n    if (!keyword) keyword = d.keyword || '';\n    if (!userId) userId = d.user_id || '';\n    if (jobId && keyword && userId) break;\n  } catch(e) {}\n}\n\nconst primary = variants[0] || { title: '', meta_description: '', content: '', word_count: 0, seo_score: 84 };\n\nreturn [{\n  json: {\n    job_id: jobId,\n    keyword: keyword,\n    user_id: userId,\n    title: primary.title || '',\n    content: primary.content || '',\n    meta_description: primary.meta_description || '',\n    variants: variants,\n    patch_body: {\n      status: 'done',\n      result: {\n        title: primary.title || '',\n        content: primary.content || '',\n        meta_description: primary.meta_description || '',\n        variants: variants\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "cf-extract",
      "name": "Extract Article"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bnwvxjwykzjelclqzbvt.supabase.co/rest/v1/content_jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJud3Z4and5a3pqZWxjbHF6YnZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MTk0ODEsImV4cCI6MjA5MTk5NTQ4MX0.LxGbca43nOJIDKD0yEQTkI-EAje15OB0hbSwEGO2mw8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJud3Z4and5a3pqZWxjbHF6YnZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MTk0ODEsImV4cCI6MjA5MTk5NTQ4MX0.LxGbca43nOJIDKD0yEQTkI-EAje15OB0hbSwEGO2mw8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { user_id: $json.user_id, keyword: $json.keyword, status: 'done', result: $json.patch_body.result } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        400
      ],
      "id": "cf-supabase",
      "name": "Save to Supabase"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        180
      ],
      "id": "cf-respond",
      "name": "Respond OK"
    }
  ],
  "connections": {
    "ContentFlow Webhook": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate Article (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article (OpenAI)": {
      "main": [
        [
          {
            "node": "Extract Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}